@function pxToRem($pixels, $fontSize: 16) {
	@return #{$pixels / $fontSize}rem;
}

@function color($color-name) {
  @return var(--color-#{$color-name});
}

@mixin abs($args) {
	position: absolute;
  /* List of offsets to check for in $args */
  $offsets: position top right bottom left width height;
  /* We loop through $offsets to deal with them one by one */
  @each $o in $offsets {
    /* If current offset found in $args assigns its index to $i
		 * Or `false` if not found */
    $i: index($args, $o);
    /* * Now we do the verifications
    		 * 1. Is the offset listed in $args? (not false)
    		 * 2. Is the offset value within the list range?
    		 * 3. Is the offset value valid? */
    @if $i and $i + 1 <= length($args) and type-of( nth($args, $i + 1) ) == number {
      /* * If everything is okay
  			 * We assign the according value to the current offset */
      #{$o}: nth($args, $i + 1);
    }
  }
}
